
<footer id="main-footer">
    <div class="container">
        <div class="row row-wrap">
            <div class="col-md-3">
                <a class="logo" href="index.html">
                    <img src="../Content/images/logo-small1.png" alt="Image Alternative text" title="Image Title" />
                </a>
                <p class="mb20"></p>
                <ul class="list list-horizontal list-space">
                    <li>
                        <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>TIN KHUYẾN MÃI</h4>
                <form>
                    <label>Nhận khuyến mãi qua email:</label>
                    <input type="text" class="form-control">
                    <p class="mt5">
                        <small>*Chúng tôi cam kết không spam</small>
                    </p>
                    <input type="submit" class="btn btn-primary" value="OK">
                </form>
            </div>
            <div class="col-md-2">
                <ul class="list list-footer">
                    <li>
                        <a href="#">Về chúng tôi</a>
                    </li>
                    <li>
                        <a href="#">Thông tin đại lý</a>
                    </li>
                    <li>
                        <a href="#">Liên hệ</a>
                    </li>
                    <li>
                        <a href="#">Tin khuyến mãi</a>
                    </li>
                    <li>
                        <a href="#">Chia sẻ kinh nghiệm</a>
                    </li>
                    <li>
                        <a href="#">Điều khoản sử dụng</a>
                    </li>
                    <li>
                        <a href="#">Gửi phản hồi</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Trụ sở chính</h4>
                <p>Q.Gò Vấp, TP. Hồ Chí Minh</p>
                <p>Điện thoại: (08) ---- -- --- - (08) ---- -- ---</p>
                <p>Hotline: (08) ---- -- --- - (08) ---- -- ---</p>
            </div>

        </div>
    </div>
</footer>