
<header id="main-header">
    <div class="container">
        <div class="nav">
            <ul class="slimmenu" id="slimmenu">
                <li class="active">
                    <a href="~/">Trang chủ</a>
                </li>
                <li>
                    <a id="AirportSearch" href="#">Airport Search</a>
                    <ul>
                        <li>
                            <a href="success-payment.html">Success Payment</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="login-register.html">Login/Register</a>
                            <ul>
                                <li>
                                    <a href="login-register.html">Full Page</a>
                                </li>
                                <li>
                                    <a href="login-register-normal.html">Normal</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="feature-typography.html">Features</a>
                </li>
                <li>
                    <a href="hotels.html">Hotels</a>
                </li>
                <li>
                    <a href="flights.html">Flights</a>
                </li>
                <li>
                    <a href="@Url.Action("Contact", "Home")">Rentals</a>
                </li>
            </ul>
        </div>
    </div>
</header>
